// sass --watch assets/scss/:assets/css/
* {
    font-size: 14px;
}


.input:focus {
    outline: none;
}

.flex {
    display: flex;

}

.ml-0 {
    margin-left: 0;
}

.container {
    width: 100%;
    height: 100vh;

    .item {
        width: 50%;



    }

}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
    }

    h3 {
        font-size: 16px;
        color: #667085;
        margin-top: 8px;
        transform: translateX(-18%);
    }

    h2 {

        font-size: 43px;
    }



    .input {
        font-size: 14px;
        width: 100%;
        position: relative;



        label {
            color: #5A5A5A;
            font-weight: 500;
            line-height: 20px;


        }

        input {
            margin: 8px 0;
            width: 100%;
            height: 24px;
            border: 1px solid grey;
            border-radius: 5px;
            display: inline-block;
            box-sizing: border-box;
            padding: 12px 20px;


        }

        i {
            position: absolute;
            right: 2%;
            top: 56%;

        }



    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 154px;
        gap: 10px;

        width: 360px;
        height: 44px;


        background: #0163B3;
        border-radius: 8px;
        color: #FFF;

    }

    b {
        color: #0163B3;
    }







}

.blue {
    background: linear-gradient(151.25deg, #5DD6FF -7.2%, #188CB3 109.82%);
    position: relative;

    .img {
        width: 50%;
        height: 71%;
        background-image: url("../image/1.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
}

.remember {
    width: 100%;
    margin: 8px 0 32px 0;
}

@media only screen and (max-width: 500px) {
    .blue {
        background-color: #FFF;
    }

    .container {
        .item {
            width: 100%;
        }


    }

    .flex-column {
        width: 100%;
    }
}