* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input,
button {
    outline: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}